.git
.gitignore

__pycache__
*.pyc

.venv
venv

synthetic_interactions.jsonl
synthetic_interactions_v2.jsonl

checkpoints/*
!checkpoints/recrec_v2_best.pt

src/train.py
src/train_v2.py
src/train_product_only.py

src/evaluate.py
src/evaluate_v2.py
src/evaluate_baselines.py
src/evaluate_product_only.py

src/synthetic_generator.py
src/synthetic_generator_v2.py